    <!-- Tableau -->     
    <div class="container">
        <h1 class="text-center">Commandes</h1>
        <table class="table table-striped">

            <!-- Header tableau -->    
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Contenu</th>
                    <th>Envoyer</th>
                    <th>Terminer</th>
                </tr>
            </thead>
            
            <!-- Body tableau -->    
            <tbody>
                <tr ng-repeat="order in barlist">
                    <td>{{order.number}}</td>
                    <td>{{order.drinks}}</td> 
                    <td><button type="button" class="btn btn-Warning" ng-click="readyOrder(order)">Envoyer</button></td>
                    <td><button type="button" class="btn btn-Success" ng-click="endOrder(order)" >Terminer</button></td>
                </tr>
            </tbody>
        </table>
    </div>